<div class="container">
<div class="row">
  <div class="col-md-12">
    <% if can? :update, @phone %>
      <%= link_to 'Edit', edit_phone_path(@phones), class: "btn btn-warning" %>
    <% end %>
    <%= link_to 'Back', dashboards_index_path, class: "btn btn-default" %>
  </div><!-- end col md 12 -->
  
  <div class="col-md-12" style="margin-top: 20px;">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Important Numbers <small><em>[tap the number to call]</em></small></h3>
      </div>
      <div class="panel-body text-center">
      <% @phones.each do |phone| %>
          <div class="list-group">
            <div class="list-group-item">
              <h4 class="list-group-item-heading"><%= phone.name %></h4>
              <h3>
                <%= link_to "tel:#{phone.phone_number}" do %>
                  <i class="fa fa-phone"></i> <%= phone.phone_number %>
                <% end %>
              </h3>
            </div>
          </div>
      <% end %>
      </div><!-- end panel body -->
    </div><!-- end panel panel-success -->
  </div><!-- end col md 12 -->
</div><!-- end row -->
</div><!-- end container -->