<p id="notice"><%= notice %></p>

<h1>Listing Accommodations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price per night</th>
      <th>Free wi fi</th>
      <th>Air conditioned</th>
      <th>Breakfast</th>
      <th>Child friendly</th>
      <th>Airport shuttle</th>
      <th>Gym</th>
      <th>Parking</th>
      <th>Laundry service</th>
      <th>Pool</th>
      <th>Restaurant</th>
      <th>Hot tub</th>
      <th>Smoke free</th>
      <th>Accessible</th>
      <th>Pets allowed</th>
      <th>Spa</th>
      <th>Bar</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accommodations.each do |accommodation| %>
      <tr>
        <td><%= accommodation.name %></td>
        <td><%= accommodation.description %></td>
        <td><%= accommodation.price_per_night %></td>
        <td><%= accommodation.free_wi_fi %></td>
        <td><%= accommodation.air_conditioned %></td>
        <td><%= accommodation.breakfast %></td>
        <td><%= accommodation.child_friendly %></td>
        <td><%= accommodation.airport_shuttle %></td>
        <td><%= accommodation.gym %></td>
        <td><%= accommodation.parking %></td>
        <td><%= accommodation.laundry_service %></td>
        <td><%= accommodation.pool %></td>
        <td><%= accommodation.restaurant %></td>
        <td><%= accommodation.hot_tub %></td>
        <td><%= accommodation.smoke_free %></td>
        <td><%= accommodation.accessible %></td>
        <td><%= accommodation.pets_allowed %></td>
        <td><%= accommodation.spa %></td>
        <td><%= accommodation.bar %></td>
        <td><%= accommodation.latitude %></td>
        <td><%= accommodation.longitude %></td>
        <td><%= link_to 'Show', accommodation %></td>
        <td><%= link_to 'Edit', edit_accommodation_path(accommodation) %></td>
        <td><%= link_to 'Destroy', accommodation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accommodation', new_accommodation_path %>
