<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @accommodation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @accommodation.description %>
</p>

<p>
  <strong>Price per night:</strong>
  <%= @accommodation.price_per_night %>
</p>

<p>
  <strong>Free wi fi:</strong>
  <%= @accommodation.free_wi_fi %>
</p>

<p>
  <strong>Air conditioned:</strong>
  <%= @accommodation.air_conditioned %>
</p>

<p>
  <strong>Breakfast:</strong>
  <%= @accommodation.breakfast %>
</p>

<p>
  <strong>Child friendly:</strong>
  <%= @accommodation.child_friendly %>
</p>

<p>
  <strong>Airport shuttle:</strong>
  <%= @accommodation.airport_shuttle %>
</p>

<p>
  <strong>Gym:</strong>
  <%= @accommodation.gym %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @accommodation.parking %>
</p>

<p>
  <strong>Laundry service:</strong>
  <%= @accommodation.laundry_service %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @accommodation.pool %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @accommodation.restaurant %>
</p>

<p>
  <strong>Hot tub:</strong>
  <%= @accommodation.hot_tub %>
</p>

<p>
  <strong>Smoke free:</strong>
  <%= @accommodation.smoke_free %>
</p>

<p>
  <strong>Accessible:</strong>
  <%= @accommodation.accessible %>
</p>

<p>
  <strong>Pets allowed:</strong>
  <%= @accommodation.pets_allowed %>
</p>

<p>
  <strong>Spa:</strong>
  <%= @accommodation.spa %>
</p>

<p>
  <strong>Bar:</strong>
  <%= @accommodation.bar %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @accommodation.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @accommodation.longitude %>
</p>

<%= link_to 'Edit', edit_accommodation_path(@accommodation) %> |
<%= link_to 'Back', accommodations_path %>
