<div class="jumbotron">
<div class="container">

<div class="row">

<div class="col-md-4">
<%# gravatar_tag @user.email, size: 200 %>
<% if @user.profile_pic.present? %>
    <%= image_tag @user.profile_pic.medium.url, class: "img-responsive img-rounded" %>
<% else %>
    <%= image_tag 'profile.jpg', class: "img-responsive img-rounded" %>
<% end %>
</div>

<div class="col-md-4">
<h3><%= @user.username %></h3>
<p>Age: <%= @user.age %></p>
<p>Gender: <%= @user.gender %></p>
</div>

<div class="col-md-4">
<h3>Who am I</h3>
<small><%= @user.bio %></small>
</div>

</div>

</div>
</div>

Upvotes
<%= @user.find_voted_items.size %>

Downvotes
<%= @user.find_down_voted_items.size %>