<div class="container">
<div class="row">
    <div class="col-md-12">
        <% if current_user.first_name.present? %>
            <h1>Hey <%= current_user.first_name %>, how's it going eh?</h1>
        <% else %>
            <h1>Hey! Finish your profile, eh? Go here: <%= link_to 'Manage Account', edit_user_registration_path %></h1>
        <% end %>
    
    </div><!-- end col md 12 -->
</div><!-- end row -->

<div class="row" style="margin-top: 30px;">
    <div class="col-md-3">
        <% @weather_grids.each do |weather_grid| %>
            <div class="panel panel-default">
              <div class="panel-heading">Weather Forecast</div>
              <div class="panel-body">
                <%= link_to weather_grid do %>
                    <i class="fa fa-sun-o"></i> Current Weather Forecast
                <% end %>
              </div>
            </div>
        <% end %>    
    </div><!-- end col md 3 -->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Police, Fire, Hospitals, ...</div>
            <div class="panel-body">
                <%= link_to phones_path do %>
                    <i class="fa fa-phone"></i> Show Me Emergency Numbers
                <% end %>
            </div>
        </div>
    </div><!-- end col md 3 -->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Accommodation</div>
            <div class="panel-body">
                <%= link_to accommodations_path do %>
                    <i class="fa fa-bed"></i> Hotels, Motels, B&amp;B
                <% end %>
            </div>
        </div>
    </div><!-- end col md 3 -->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Transportation</div>
            <div class="panel-body">
                <%= link_to '#' do %>
                    <i class="fa fa-bus"></i> Taxi, SkyTrain, Busses
                <% end %>
            </div>
        </div>
    </div><!-- end col md 3 -->
</div> <!-- end row -->
<hr>
<div class="row" style="margin-top:50px;">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Food Court</div>
            <div class="panel-body">
                <%= link_to restaurants_path do %>
                    <i class="fa fa-cutlery"></i> Feed me, I'm hungry!
                <% end %>
            </div>
        </div>
    </div><!-- end col md 3 -->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Liquor Zone <small>18+</small></div>
            <div class="panel-body">
                <%= link_to liquor_stores_path do %>
                    <i class="fa fa-glass"></i> I'm thursty!
                <% end %>
            </div>
        </div>
    </div><!-- end col md 3 -->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Party Time</div>
            <div class="panel-body">
                <%= link_to '#' do %>
                    <i class="fa fa-users"></i> Buy tickets, check out events!
                <% end %>
            </div>
        </div>
    </div><!-- end col md 3 -->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Malls</div>
            <div class="panel-body">
                <%= link_to '#' do %>
                    <i class="fa fa-check"></i> Check out stores
                <% end %>
            </div>
        </div>
    </div><!-- end col md 3 -->
</div><!-- end row -->
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Flower Shops</div>
            <div class="panel-body">
                <%= link_to '#' do %>
                    <i class="fa fa-check"></i> Get best deals!
                <% end %>
            </div>
        </div>
    </div><!-- end col md 3 -->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Pet Services</div>
            <div class="panel-body">
                <%= link_to '#' do %>
                    <i class="fa fa-check"></i> All for your pet
                <% end %>
            </div>
        </div>
    </div><!-- end col md 3 -->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Shopping Time</div>
            <div class="panel-body">
                <%= link_to '#' do %>
                    <i class="fa fa-check"></i> Top 60 stores
                <% end %>
            </div>
        </div>
    </div><!-- end col md 3 -->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Kid zone</div>
            <div class="panel-body">
                <%= link_to '#' do %>
                    <i class="fa fa-check"></i> Children &amp; Child Care
                <% end %>
            </div>
        </div>
    </div><!-- end col md 3 -->
</div>
<hr>
<div class="row" style="margin-top: 50px;">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Date Planner</div>
            <div class="panel-body">
                <%= link_to '#' do %>
                    <i class="fa fa-heart"></i> Love is in the air
                <% end %>
            </div>
        </div>
    </div><!-- end col md 3 -->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Day Planner</div>
            <div class="panel-body">
                <%= link_to '#' do %>
                    <i class="fa fa-map-marker"></i> Where to go, what to do
                <% end %>
            </div>
        </div>
    </div><!-- end col md 3 -->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Weekend Planner</div>
            <div class="panel-body">
                <%= link_to '#' do %>
                    <i class="fa fa-car"></i> Escape from city jungle
                <% end %>
            </div>
        </div>
    </div><!-- end col md 3 -->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Medical Weed <small>18+ &amp; Medical Card(?)</small></div>
            <div class="panel-body">
                <%= link_to '#' do %>
                    <i class="fa fa-check"></i> Get best deals!
                <% end %>
            </div>
        </div>
    </div><!-- end col md 3 -->
</div><!-- end row -->
<hr>
<div class="row" style="margin-top: 50px;">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Delivery <small>Provided by Cabaret Delivery</small></div>
            <div class="panel-body">
                <%= link_to '#' do %>
                    <i class="fa fa-check"></i> Anything-delivery!
                <% end %>
            </div>
        </div>
    </div><!-- end col md 3 -->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Discounts Board</div>
            <div class="panel-body">
                <%= link_to '#' do %>
                    <i class="fa fa-check"></i> Get best deals!
                <% end %>
            </div>
        </div>
    </div><!-- end col md 3 -->
</div><!-- end row -->
</div> <!-- end container -->

