<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script> 
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=211603978873320";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>






<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Back', liquor_stores_path, class: "btn btn-default" %>  
    </div><!-- end col-md-12 -->
  </div><!-- end row -->
  <div class="row" style="margin-top: 50px;">
    <div class="col-md-12">
      <h1><%= image_tag @liquor_store.logo.thumb.url %> <%= @liquor_store.name %> <small>| <%= link_to "tel:#{@liquor_store.phone}" do %><i class="fa fa-phone"></i> <%= @liquor_store.phone %><% end %> | <%= link_to "http://#{@liquor_store.website}", target: "_blank" do %><i class="fa fa-globe"></i> Website<% end %></small></h1>
      <hr>
     </div>
  </div><!-- end row -->
  <div class="row">
    <div class="col-md-3">
      <p><strong>Delivery options:</strong> <%= @liquor_store.delivery %></p>
    </div><!-- end col-md-3 -->
    <div class="col-md-3">
      <p><strong>Monday:</strong> <%= @liquor_store.hours_monday %></p>
      <p><strong>Tuesday:</strong> <%= @liquor_store.hours_tuesday %></p>
      <p><strong>Wednesday:</strong> <%= @liquor_store.hours_wednesday %></p>
      <p><strong>Thursday:</strong> <%= @liquor_store.hours_thursday %></p>
      <p><strong>Friday:</strong> <%= @liquor_store.hours_friday %></p>
      <p><strong>Saturday:</strong> <%= @liquor_store.hours_saturday %></p>
      <p><strong>Sunday:</strong> <%= @liquor_store.hours_sunday %></p>
    </div><!-- end col-md-3 -->
    <div class="col-md-6">
        <div id="custom_style" style='width: 100%; height: 300px;'></div>
        <h3><%= @liquor_store.address %></h3>
    </div>
  </div><!-- end row -->
  <div class="row" style="margin-top: 50px;">
     
      <div class="row">
        <div class="col-md-4">
          <%= content_tag :div, class: "fb-page", "data-href": "https://www.facebook.com/#{@liquor_store.facebook}/", "data-tabs": "timeline", "data-small-header": false, "data-adapt-container-width": true, "data-hide-cover": false, "data-show-facepile": true do -%>
            <div class="fb-xfbml-parse-ignore"></div>
          <% end -%>
        </div><!-- end col-md-4 -->
        <div class="col-md-4">
          <img src="http://www.thesiteshed.com/wp-content/uploads/2016/02/Follow-us-on-Instagram.png" class="img-responsive">
          <img src="http://www.echternach.lu/followusontwitterlogo.jpg?FileID=imagettes%2Ffollowusontwitterlogo.jpg" class="img-responsive">
          <%= link_to "http://twitter.com/#{@liquor_store.twitter}", target: "_blank" do %>
                    <i class="fa fa-twitter-square bigger-font"></i>
                  <% end %> |
                  <%= link_to "http://instagram.com/#{@liquor_store.instagram}", target: "_blank" do %>
                    <i class="fa fa-instagram bigger-font"></i>
                  <% end %>
        </div><!-- end col-md-4 -->
      </div><!-- end row-->
      
      
      <div class="row" style="margin-top: 100px;">
        <% if @liquor_store.order_online.present? %>
                <!-- Button trigger modal -->
                <p class="btn btn-link" data-toggle="modal" data-target="#orderOnline" style="padding: 0px">
                  <i class="fa fa-shopping-cart"></i> Order Online
                </p>
                
                <!-- Modal -->
                <div class="modal fade" id="orderOnline" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-ordering" role="document">
                    <div class="modal-content"  style="width:100% !important;">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Order from <%= @liquor_store.name %></h4>
                      </div>
                      <div class="modal-body">
                        <iframe width="100%" height="1100" src="<%= @liquor_store.order_online %>" frameborder="0" allowfullscreen>
                        </iframe>
                      </div>
                    </div>
                  </div>
                </div><!-- end modal-->
              <% else %>
                <p>No online ordering available</p>
              <% end %>
      </div>
  </div><!-- end row -->
</div><!-- end container -->


<script>
var mapStyle = [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"administrative.country","elementType":"geometry.fill","stylers":[{"visibility":"on"}]},{"featureType":"administrative.province","elementType":"labels.icon","stylers":[{"hue":"#ff0000"},{"visibility":"on"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}];

handler = Gmaps.build('Google');
handler.buildMap({ provider: {mapTypeId: google.maps.MapTypeId.ROADMAP, styles: mapStyle}, internal: {id: 'custom_style'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
